body {
    background-color: #6b5;
    color: yellow;
    margin: 0;
    padding: 0;
    background-image: url(Star-wars-logo-new-tall.webp);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    background-color: #4a90e2;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

h2 {
    margin-top: 0;
    color: #ffffff;
    border-bottom: 2px solid #4a90e2;
    padding-bottom: 5px;
}
p, ul {
    font-size: 1em;
    line-height: 1.5em;
}

ul {
    margin-left: 20px;
}

strong {
    color: #4a90e2;
}
.ValenQuoros {
    display: block;
    margin: 10px auto;
}

.kép{
    
}